.logo1{
  text-decoration: none; /* Menghilangkan garis bawah default untuk tautan */
  outline: none; /* Menghilangkan efek focus border pada beberapa browser */
  border: 0; /* Menghilangkan border pada gambar yang terkait dengan tautan */
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180vh;
  background: url(Image/Wallpaper\ jp.jpg) no-repeat;
  background-size:cover;
  background-position: center;
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%; /* Sesuaikan tinggi overlay sesuai kebutuhan */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
  background-position: center bottom;
  filter: invert(100%);
}

.form1{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
}

.form1 h1{
  font-size: 28px;
  text-align: center;
  color: white;
}
.form1 .Input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.Input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px
}

.Input-box input ::placeholder {
  color: white;
}
.Input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}

.form1 .button{
  width: 100%;
  height: 45px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
  transition: .5s;
}
.form1 .button:hover {
background: white;
color: black;
}

.Input-box {
  position: relative;
}

.user-input {
  padding-left: 30px; /* Sesuaikan sesuai dengan lebar gambar */
}

.user-label {
  position: absolute;
  right: 20px; /* Sesuaikan sesuai dengan lebar gambar dan padding input */
  top: 50%;
  transform: translateY(-50%);
  cursor: text;
}

.user-label img{
  height: 23px;
}

.bar2{
  font-size: 20px;
  border-left: 2px solid ;
  padding-bottom: 8px;
  padding-top: 6px;
  color: lightgrey;
  padding-right: 20px;
}

.batas{
  position: relative;
  top: 6px;
  left: 10px;
  font-size: 1px;
  border-left: 2px solid ;
  padding-bottom: 10px;
  padding-top: 14px;
  color: lightgrey;
}

.batas2{
  position: relative;
  top: 6px;
  left: 18px;
  font-size: 1px;
  border-left: 2px solid ;
  padding-bottom: 10px;
  padding-top: 14px;
  color: lightgrey;
}


a.tombol:hover {
  background-color: white; /* Warna background putih saat hover */
  color: black; /* Warna tulisan hitam saat hover */
}



.bar1{
  font-size: 20px;
  color: lightgrey;
}
  
.bar3{
  width: 65px;
  height: 45px;
  position: relative;
  bottom: 4px;
  right: 20px;
  transition: filter 1.2s ease;
}

.bar3:hover {
  filter: brightness(2.5); /* Ganti nilai brightness sesuai kebutuhan */
}

.btn btn-outline-success{
  color: blue;
}

.nav-link{
  position: relative;
  color: lightgray;
}

.nav-link:hover{
  color: white;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red; 
  transform-origin: bottom left; /* Set the transform origin to bottom right */
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.dropdown-menu a {
  color: lightgrey; 
}

.recomended{
  font-size: 35px;
}

.dropdown-divider{
  border-bottom: 2px solid red;
  width: 100%;
}

.navbar-collapse{
padding-left: 40px;
}

.header1 img{
  width: 100%; 
  height: auto; 
}

.styled-heading {
  color: white; 
  font-size: 35px; 
  border-bottom: 1px solid white; 
  padding-bottom: 10px; 
  width: 100%;
  margin: auto;
  animation: fadeInUp 1s ease-in-out;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-50px); 
  }
  to {
      opacity: 1;
      transform: translateX(0); 
  }
}


#animeCard.fade-in-left {
  animation: fadeInLeft 0.8s ease-in-out forwards;
}


#animeCard {
  background-color: #1d1d1d;
  border-radius: 0;
  height: auto;
  opacity: 0; 
}

.container {
  padding: 1rem; /* Gaya tambahan jika diperlukan */
}



.styled-heading2 {
  color: white; 
  font-size: 30px; 
  border-bottom: 1px solid red; 
  border-top: 1px solid red;
  padding-bottom: 10px; 
  width: 100%;
  margin: auto;
  opacity: 0;
  animation: fadeInHeading 0.8s ease-in-out forwards;
  background-color: #1d1d1d;
  opacity: 1;
}


hr {
  width: 100%;
  margin: 0;
  padding: 0;
}

.social-icon {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.4); 
}

.foter3 a.btn {
  font-family: 'Open Sans', sans-serif;
  background-color: #1d1d1d;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.foter3 a.btn:hover {
  background-color: #424649;
  color: white;
}

.foter2 a.btn {
  font-family: 'Open Sans', sans-serif;
  background-color: #25292c;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.foter2 a.btn:hover {
  background-color: #424649;
  color: white;
}


.btn-dark {
  background-color: #1d1d1d; /* Dark background color */
  color: #fff; /* White text color */
}

#aboutContent {
  transition: opacity 0.5s ease-in-out; /* Animasi muncul */
}

.custom-width {
  max-width: 70%; /* Sesuaikan nilai ini sesuai kebutuhan Anda */
}

.animated-text {
  overflow: hidden;
}

.animated-text h3,p {
  opacity: 0;
  animation: reveal 5s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-list {
  list-style-type: none;
  padding: 0;
}

.animated-item {
  opacity: 0;
  animation: reveal 5s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-image{
  overflow: hidden;
  opacity: 0;
  animation: reveal 5s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-image1{
  overflow: hidden;
  opacity: 0;
  animation: reveal 3s forwards;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.game-options {
  display: none;
}

.open-options {
  display: block;
}

#gameOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#optionsContainer {
  text-align: center;
}

#gameOptions img {
  max-width: 100%;
  height: auto;
  margin: 10px auto; /* Memusatkan gambar */
}

#gameOptions p {
  margin-bottom: 10px;
}

#gameOptions li {
  display: block;
  margin: 5px auto; /* Memusatkan li */
}

.circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 3px;
  background-color: black;
  border: none;
}

.circle1 {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 14px;
  background-color: black;
  border: none;
}
.circle2 {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 3px;
  background-color: black;
  border: none;
}
.circle3 {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 12px;
  background-color: black;
  border: none;
}
.circle4 {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 3px;
  background-color: black;
  border: none;
}

.circle5{
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: relative;
  top: 2px;
  right: 3px;
  background-color: black;
  border: none;
}